
.grocery >div{
  border: 1px solid gainsboro;
}
.App{
  width: 70%;
  margin: auto;
  text-align: center;
}
.groceryInput input {
  
  margin: 2vh;
  
}
.groceryList{
  padding: 2vh;
  display: flex;
  justify-content: space-around;
}
.groceryList p{
  margin: 2vh;
  font-weight: 600;
  
}
button{
  margin: 2vh;
  width: fit-content;
  height: fit-content;
 
}
img{
  border-radius: 100%;
  width: 5%;
}